
{% extends 'base.html' %}
{% block content%}

<div style="margin: 10px;" class="well">

<div class="well"><h2 >Profile</h2> {{intern.profile}}</div>
<br>
<div class="well"><h2>Description</h2> {{intern.description}}</div>
<br>
<div class="well"><h2>Location</h2> {{intern.location}}</div>
<br>
<div class="well"><h2>Company</h2> {{intern.company.name}}</div>

<br><br>
{% if applied %}
    <a href="#" class="button btn btn-danger">You've already applied</a>
{% elif request.user.is_authenticated and request.user.profile.is_student %}
    <form action="{% url 'apply' intern.id%}" method="post">
        {% csrf_token %}
        <input type="submit" value="Submit Application" class="btn btn-success">
    </form>
{% elif request.user.is_authenticated and request.user.profile.is_company %}
    <form action="{% url 'intern_applications' intern.id%}" method="post">
        {% csrf_token %}
        <input type="submit" value="View applications" class="btn btn-success">
    </form>
    <br / >
    <form action="{% url 'intern_delete' intern.id%}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete Internship" class="btn btn-danger">
    </form>
{% endif %}

</div>
{% endblock %}