{% extends "base.html" %}

{% block content %}

<style>
    label {
        width: 150px;
    }
    input {
        width: 60%;
    }
    form {
        margin: 50px;
    }
</style>
<div class="container-fluid">
{% if request.user.is_authenticated and request.user.profile.is_company == True%}

<h2>Add Internship</h2>
    <div class="row">
        <div class = "col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form class="form-horizontal" action="{% url 'internship_add_button' %}" method = "post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="profile">Profile</label>
                        <input type="text" name="profile" id="profile" />
                        <br /><br />
                        <label for="description" >Description</label>
                        <input type="text" name="description" id="description" style="height: 150px;"/>
                        <br /><br />
                        <label for="location">Location</label>
                        <input type="text" name="location" id="location" />
                        <br /><br />
                    
                        <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                    </form>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% else %}
    <h1>Need to log in as company</h1>
{% endif %}
{% endblock content %}