{% extends "base.html" %}

{% block content %}
<style>
    label {
        width: 100px;
    }
    input {
        width: 50%;
    }
    form {
        margin: 50px;
    }
</style>
<div class="container-fluid">

    <h2 style="">Login</h2>
    <div class="row" style="height:100%">
        <div class = "col-sm-12 col-md-5" style="margin:auto auto;">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form class="form-horizontal" action="{% url 'login_auth' %}" method = "post" enctype="multipart/form-data">
                                {% csrf_token %}
                                    <label for="username">Username</label>
                                    <input type="text" name="username" id="username" />
                                    <br />
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" />
                                    <br />
                                
                                    <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-success">Submit</button>
                                            </div>
                                        </div>
                                </form>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}