{% extends "base.html" %}

{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class = "col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>Login as: </h3>
                    <a href="{% url 'register_company' %}">Company</a>
                    <br>
                    <a href="{% url 'register_student' %}">Student</a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}